<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Sign up</title>
</head>
<body>
	<div class="signup-container">
	<form th:action="@{/signup}" method="post">
		<label for="username">Username</label> 
		<input type="text"
			id="username" name="username" required class="signup-input">

		<label for="email">Email:</label> <input type="email" id="email"
			name="email" required class="signup-input"> <label
			for="password">Password:</label> <input type="password" id="password"
			name="password" required class="signup-input"> <label
			for="password-confirm">Confirm Password:</label> <input
			type="password" id="passwordConfirm" name="passwordConfirm" required
			class="signup-input">

		<button type="submit" class="signup-btn">Signup</button>
	</form>
	<!-- エラーメッセージを表示するための場所 -->
	<div id="error-message" style="color: red;"></div>
	</div>
</body>
</html>