<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BookMapper">
<!-- 書籍と出版社の1-1関係 -->
<resultMap id="BookWithPublisherResult"
	type="com.example.demo.entity.Book">
	<id property="id" column="id"/>
	<result property="bookTitle" column="book_title"/>
	<result property="author" column="author"/>
	<association property="publisher"
		javaType="com.example.demo.entity.Publisher">
		<id property="id" column="publisher_id"/>
		<result property="name" column="publisher_name" />
	</association>
</resultMap>

<!-- 書籍とレビューの1-n関係 -->
<resultMap id="BookWithReviewResult"
	type="com.example.demo.entity.Book">
	<id property="id" column="id"/>
	<result property="bookTitle" column="book_title"/>
	<result property="author" column="author"/>
	<collection property="reviews" ofType="com.example.demo.entity.Review">
		<id property="id" column="review_id"/>
		<result property="bookId" column="book_id"/>
		<result property="reviewText" column="review_text"/>
	</collection>
	</resultMap>
	
<select id="getAllBooks" resultMap = "BookWithPublisherResult">
 SELECT 
 	b.id, 
 	b.book_title as "book_title", 
 	b.author,
 	p.id as "publisher_id", 
 	p.name as "publisher_name"
 FROM books b
 INNER JOIN publishers p ON b.publisher_id = p.id
 ORDER BY b.id
</select>

<select id="getBookById" resultMap = "BookWithReviewResult">
 SELECT 
 	b.id, 
 	b.book_title, 
 	b.author, 
 	b.publisher_id,
 	r.id as review_id, 
 	r.book_id, 
 	r.review_text 
 FROM books b
 INNER JOIN reviews r ON b.id = r.book_id
 WHERE b.id = #{id}
</select>

<insert id="insertBook" parameterType = "com.example.demo.entity.Book">
 INSERT INTO books (book_title, author) VALUES (#{bookTitle}, #{author})
</insert>

<update id="updateBook" parameterType="com.example.demo.entity.Book">
UPDATE books SET book_title = #{bookTitle}, author = #{author} WHERE id = #{id}
</update>

<delete id="deleteBookById" parameterType="int">
DELETE FROM books WHERE id = #{id}
</delete>


</mapper>